*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393F55;
  background-color: #F5F5F6;
}

a {
  text-decoration: none;
}

.btn {
  border: transparent;
  border-radius: 2px;
  background-color: #2646B5;
  color: #F5F5F6;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:hover {
  background-color: rgba(38, 70, 181, 0.8);
}

.btn--big {
  padding: 2rem 4rem;
}

.form__input {
  padding: 1rem 1.5rem;
  width: 70rem;
  border-radius: 2px;
  color: #2646B5;
  border: 1px solid #999DAC;
}

.form__input:focus {
  outline: none;
  border: 1px solid #2646B5;
}

.form__input::-webkit-input-placeholder {
  color: #999DAC;
}

.form__input:-ms-input-placeholder {
  color: #999DAC;
}

.form__input::-ms-input-placeholder {
  color: #999DAC;
}

.form__input::placeholder {
  color: #999DAC;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: #2646B5;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
}

.heading-secondary {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
}

.heading-secondary--dark {
  color: #393F55;
  text-align: inherit;
}

.heading-tertiary {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.container {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.container-big {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container-big {
    width: 100%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  text-align: center;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-top-normal {
  margin-top: 6rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-xsmall {
  margin-top: 1.2rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.u-margin-bottom-mid {
  margin-bottom: 8rem;
}

.u-margin-bottom-normal {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem;
}

.u-padding-bottom-big {
  padding-bottom: 10rem;
}

.u-padding-bottom-normal {
  padding-bottom: 6rem;
}

.u-padding-bottom-small {
  padding-bottom: 2rem;
}

.u-padding-top-big {
  padding-top: 10rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.footer {
  height: 20rem;
  background-color: #393F55;
}

.footer__content {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content a {
  color: #F5F5F6;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__content a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(245, 245, 246, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__content a:hover::after {
  width: 100%;
  background-color: rgba(245, 245, 246, 0.8);
}

.footer__logo img {
  width: 5rem;
  margin-right: 8rem;
}

.header {
  height: 20rem;
}

.header ul {
  list-style: none;
}

.header__box {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 10%;
}

.header__logo img {
  width: 9rem;
}

.header__nav {
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  width: 55%;
}

.main-nav__menu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav__menu li {
  margin-right: 3%;
}

.main-nav__menu li a {
  color: #393F55;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav__menu li a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.main-nav__menu li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(38, 70, 181, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav__menu li a:hover::after {
  width: 100%;
  background-color: rgba(38, 70, 181, 0.5);
}

.login-nav {
  width: 45%;
}

.login-nav__menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-nav__menu li:nth-child(odd) {
  background-color: #2646B5;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-right: 2.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.login-nav__menu li:nth-child(odd) a {
  color: #F5F5F6;
}

.login-nav__menu li:nth-child(odd):hover {
  background: rgba(38, 70, 181, 0.8);
}

.login-nav__menu li:nth-child(even) {
  padding: 1rem 2.5rem;
  border: 1px solid #2646B5;
  border-radius: 2px;
}

.login-nav__menu li:nth-child(even) a {
  color: #2646B5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-nav__menu li:nth-child(even) a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.login-nav__menu li:nth-child(even) a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(38, 70, 181, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-nav__menu li:nth-child(even) a:hover::after {
  width: 100%;
  background-color: rgba(38, 70, 181, 0.5);
}

.abonnement__produit {
  height: 17rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto 10rem;
  padding: 0 4rem;
  border-radius: 2px;
  border: 1px solid #999DAC;
}

.accueil {
  height: 82rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  width: 60%;
}

.team__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__items--box {
  width: 30%;
  margin-bottom: 7rem;
  padding: 3rem;
  border-radius: 3px;
  border: 1px solid #999DAC;
}

.team__items--box img {
  width: 15rem;
  height: 15rem;
  border-radius: 3px;
  border: 1px solid #999DAC;
}

.newsletter {
  height: 40rem;
}

.newsletter h2 {
  text-align: center;
}

.newsletter__form input {
  margin-right: 3rem;
}

.service__content {
  margin: 7rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__content--item {
  border: 1px solid #999DAC;
  border-radius: 3px;
  width: 29%;
  padding: 3rem;
}

.service__content--item p {
  margin-top: 3rem;
}
/*# sourceMappingURL=main.css.map */