*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393F55;
  background-color: #F5F5F6;
}

a {
  text-decoration: none;
}

.btn {
  border: transparent;
  border-radius: 2px;
  background-color: #2646B5;
  color: #F5F5F6;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:hover {
  background-color: rgba(38, 70, 181, 0.8);
}

.btn--light {
  background-color: inherit;
  border: 1px solid #2646B5;
  color: #2646B5;
  font-size: 1.6rem;
}

.btn--light:hover {
  background-color: #2646B5;
  color: #F5F5F6;
}

.btn--dash {
  margin-left: 40%;
}

.btn--big {
  padding: 2rem 4rem;
}

.form__input {
  padding: 1rem 1.5rem;
  width: 70rem;
  border-radius: 2px;
  color: #2646B5;
  border: 1px solid #999DAC;
}

.form__input:focus {
  outline: none;
  border: 1px solid #2646B5;
}

.form__input::-webkit-input-placeholder {
  color: #999DAC;
}

.form__input:-ms-input-placeholder {
  color: #999DAC;
}

.form__input::-ms-input-placeholder {
  color: #999DAC;
}

.form__input::placeholder {
  color: #999DAC;
}

.contact-form {
  margin-bottom: 4rem !important;
}

.contact-form label {
  font-family: "Inter", sans-serif;
  color: #393F55;
  font-weight: 500 !important;
  margin-bottom: 1.6rem !important;
}

.contact-input, .contact-textarea {
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1rem 1.5rem;
  width: 50rem !important;
  border-radius: 2px;
  border: 1px solid #999DAC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact-input:focus, .contact-textarea:focus {
  outline: none;
  border: 1px solid #2646B5;
  color: #2646B5;
}

.contact-input::-webkit-input-placeholder, .contact-textarea::-webkit-input-placeholder {
  color: #999DAC;
}

.contact-input:-ms-input-placeholder, .contact-textarea:-ms-input-placeholder {
  color: #999DAC;
}

.contact-input::-ms-input-placeholder, .contact-textarea::-ms-input-placeholder {
  color: #999DAC;
}

.contact-input::placeholder, .contact-textarea::placeholder {
  color: #999DAC;
}

.contact-textarea {
  width: 100% !important;
  height: 30vh !important;
  resize: none;
}

.ninja-forms-req-symbol, .nf-form-fields-required {
  display: none;
}

#text-2::marker {
  color: transparent;
}

.contact-btn {
  text-align: right;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: #2646B5;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
}

.heading-secondary {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
}

.heading-secondary--dark {
  color: #393F55;
  text-align: inherit;
}

.heading-tertiary {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.heading-quaternary--dark {
  color: inherit;
}

.container {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.container-big {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container-big {
    width: 100%;
  }
}

.container-small {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container-small {
    width: 100%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  text-align: center;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-top-mid {
  margin-top: 8rem;
}

.u-margin-top-normal {
  margin-top: 6rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-xsmall {
  margin-top: 1.2rem;
}

.u-margin-top-special {
  margin-top: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.u-margin-bottom-mid {
  margin-bottom: 8rem;
}

.u-margin-bottom-normal {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem;
}

.u-padding-bottom-big {
  padding-bottom: 10rem;
}

.u-padding-bottom-normal {
  padding-bottom: 6rem;
}

.u-padding-bottom-small {
  padding-bottom: 2rem;
}

.u-padding-top-big {
  padding-top: 10rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.footer {
  height: 20rem;
  background-color: #393F55;
}

.footer__content {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content a {
  color: #F5F5F6;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__content a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(245, 245, 246, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__content a:hover::after {
  width: 100%;
  background-color: rgba(245, 245, 246, 0.8);
}

.footer__logo img {
  width: 5rem;
  margin-right: 8rem;
}

.header {
  height: 20rem;
}

.header ul {
  list-style: none;
}

.header__box {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 10%;
}

.header__logo img {
  width: 9rem;
}

.header__nav {
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  width: 55%;
}

.main-nav__menu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav__menu li {
  margin-right: 3%;
}

.main-nav__menu li a {
  color: #393F55;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav__menu li a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.main-nav__menu li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(38, 70, 181, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav__menu li a:hover::after {
  width: 100%;
  background-color: rgba(38, 70, 181, 0.5);
}

.login-nav {
  width: 45%;
}

.login-nav__menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-nav__menu li:nth-child(odd) {
  background-color: #2646B5;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-right: 2.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.login-nav__menu li:nth-child(odd) a {
  color: #F5F5F6;
}

.login-nav__menu li:nth-child(odd):hover {
  background: rgba(38, 70, 181, 0.8);
}

.login-nav__menu li:nth-child(even) {
  padding: 1rem 2.5rem;
  border: 1px solid #2646B5;
  border-radius: 2px;
}

.login-nav__menu li:nth-child(even) a {
  color: #2646B5;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-nav__menu li:nth-child(even) a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.login-nav__menu li:nth-child(even) a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(38, 70, 181, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-nav__menu li:nth-child(even) a:hover::after {
  width: 100%;
  background-color: rgba(38, 70, 181, 0.5);
}

.abonnement__produit {
  height: 17rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto 10rem;
  padding: 0 4rem;
  border-radius: 2px;
  border: 1px solid #999DAC;
}

.about__content {
  width: 60%;
}

.team__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__items--box {
  width: 30%;
  margin-bottom: 7rem;
  padding: 3rem;
  border-radius: 3px;
  border: 1px solid #999DAC;
}

.team__items--box img {
  width: 15rem;
  height: 15rem;
  border-radius: 3px;
  border: 1px solid #999DAC;
}

.accueil {
  height: 82rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wc-block-featured-product {
  background-color: transparent !important;
  color: #2646B5;
}

.wc-block-featured-product h2 {
  display: none;
}

.wp-block-button__link {
  border-radius: 2px !important;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

.wp-block-button__link:hover {
  background-color: rgba(38, 70, 181, 0.8) !important;
}

.newsletter {
  height: 40rem;
}

.newsletter h2 {
  text-align: center;
}

.newsletter__form input {
  margin-right: 3rem;
}

.nouvelles__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nouvelles__box {
  width: 48%;
  border: 1px solid #999DAC;
  border-radius: 3px;
  padding: 3rem;
}

.nouvelles__box a {
  font-weight: 500;
  font-size: 1.8rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  color: #2646B5;
  position: relative;
}

.nouvelles__box a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.nouvelles__box a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #2646B5;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nouvelles__box a:hover::after {
  background-color: rgba(38, 70, 181, 0.5);
}

.nouvelles__box--thumb {
  height: 30vh;
  width: 100%;
}

.single__thumb {
  width: 60%;
  height: 60vh;
}

.single__content {
  width: 60%;
}

.single__content p {
  margin-bottom: 2rem;
}

.service__content {
  margin: 7rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__content--item {
  border: 1px solid #999DAC;
  border-radius: 3px;
  width: 29%;
  padding: 3rem;
}

.service__content--item p {
  margin-top: 3rem;
}

.woocommerce {
  width: 90%;
  margin: 10rem auto;
}

.woocommerce ul {
  list-style: none;
}

.woocommerce__nav {
  margin-bottom: 4rem;
}

.woocommerce__nav a {
  color: #2646B5;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

.woocommerce__nav a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2646B5;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.woocommerce__nav a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.woocommerce__nav a:hover::after {
  background-color: rgba(38, 70, 181, 0.5);
}

.woocommerce__account a {
  margin-left: 25%;
  font-size: 1.6rem;
  color: #2646B5;
  border: 1px solid #2646B5;
  padding: 1rem 3rem;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

@media (max-width: 1200px) {
  .woocommerce__account a {
    margin-left: 13%;
  }
}

@media (max-width: 900px) {
  .woocommerce__account a {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.woocommerce__account a:hover {
  color: #F5F5F6;
  background-color: #2646B5;
}

.woocommerce__label {
  padding-top: 2.5rem !important;
}

.woocommerce__pwd {
  margin-top: 4rem;
  margin-left: .5rem;
}

.woocommerce__pwd a {
  color: #2646B5;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

.woocommerce__pwd a:hover {
  color: rgba(38, 70, 181, 0.8);
}

.woocommerce__pwd a::after {
  content: '';
  display: block;
  background-color: #2646B5;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.woocommerce__pwd a:hover::after {
  background-color: rgba(38, 70, 181, 0.5);
}

.woocommerce__btn {
  text-align: right;
  padding-top: 4rem !important;
}

.woocommerce-MyAccount-content {
  width: 60% !important;
  margin: 10rem auto;
  float: none !important;
}

.woocommerce-form {
  border: none !important;
  padding: 0 !important;
}

.woocommerce-form-row label {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}

.woocommerce-Input {
  background-color: #F5F5F6;
  color: #999DAC;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: 1px solid #999DAC;
}

.woocommerce-Input:focus {
  outline: none;
  border: 1px solid #2646B5;
  color: #2646B5;
}

.woocommerce-Input::-webkit-input-placeholder {
  color: #999DAC;
}

.woocommerce-Input:-ms-input-placeholder {
  color: #999DAC;
}

.woocommerce-Input::-ms-input-placeholder {
  color: #999DAC;
}

.woocommerce-Input::placeholder {
  color: #999DAC;
}

.form-row {
  margin-top: 4rem !important;
}

.summary {
  width: 70% !important;
  float: none !important;
  margin: 8rem auto;
  text-align: center;
}

.woocommerce-Tabs-panel p {
  text-align: center;
  margin: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.button {
  background-color: #2646B5 !important;
  border-radius: 2px;
  padding: 1rem 3rem !important;
  color: #F5F5F6 !important;
  font-weight: 400 !important;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.button:hover {
  background-color: rgba(38, 70, 181, 0.8) !important;
}

.product-thumbnail,
.posted_in,
.tabs,
.show-password-input,
.required,
.woocommerce-form-coupon-toggle,
.woocommerce-additional-fields {
  display: none;
}

.woocommerce-billing-fields {
  margin-bottom: 10rem;
}

.woocommerce-billing-fields h3 {
  font-size: 2.3rem !important;
  font-weight: 500 !important;
  line-height: 2.8rem !important;
}

.woocommerce-billing-fields__field-wrapper label {
  color: #393F55;
  font-weight: 500;
  font-size: 1.8rem;
}

.woocommerce-billing-fields__field-wrapper input, .woocommerce-billing-fields__field-wrapper select {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  color: #999DAC;
  border: 1px solid #999DAC;
}

.woocommerce-billing-fields__field-wrapper input:focus, .woocommerce-billing-fields__field-wrapper select:focus {
  outline: none;
  border: 1px solid #2646B5;
}

.woocommerce-billing-fields__field-wrapper input::-webkit-input-placeholder, .woocommerce-billing-fields__field-wrapper select::-webkit-input-placeholder {
  color: #999DAC;
}

.woocommerce-billing-fields__field-wrapper input:-ms-input-placeholder, .woocommerce-billing-fields__field-wrapper select:-ms-input-placeholder {
  color: #999DAC;
}

.woocommerce-billing-fields__field-wrapper input::-ms-input-placeholder, .woocommerce-billing-fields__field-wrapper select::-ms-input-placeholder {
  color: #999DAC;
}

.woocommerce-billing-fields__field-wrapper input::placeholder, .woocommerce-billing-fields__field-wrapper select::placeholder {
  color: #999DAC;
}

#order_review_heading {
  font-size: 2.3rem !important;
  font-weight: 500 !important;
  margin-bottom: 4rem;
}

address {
  border: none !important;
}
/*# sourceMappingURL=main.css.map */