@import "./variables";

body {
     font-family: $text-font;
     font-size: $default-size;
     font-weight: 400;

     @include  responsive(phone) { 
         font-size: $small-size;
     }  
}

h1, h2, h3,
h4, h5, h6 {
     color: $color-primary;
}

a {
     text-decoration: none;
}

.heading-secondary {
     font-weight: 500;
     font-size: 3rem;
     text-align: center;
}

